:host {
  display: contents;
}

:host td {
  font-size: var(--text-14);
  padding: var(--space-md) var(--space-lg);
}

:host .feed-amt {
  font-size: var(--text-14);
}

.cat {
  color: var(--fg);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: var(--text-14);
}